.auction-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 20px;
}

.input-section {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 2px solid #ccc;
}

.auction-display {
    flex: 2;
    padding: 20px;
    min-width: 300px;
}

.label, input, select {
    margin: 5px;
    padding: 8px;
    width: 100%;
}

input, select {
    min-width: 200px;
}
